:root {
  --background: #ffffff;
  --foreground: #171717;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/*
 * STYLIZED SCROLLBAR (Entire Site)
 * Compatible with WebKit browsers (Chrome, Safari, Edge, Opera) and Firefox.
 */

/* 1. For WebKit browsers (Chrome, Safari, Edge, Opera) */
::-webkit-scrollbar {
  width: 8px;
  /* Vertical scrollbar width */
  height: 8px;
  /* Horizontal scrollbar height */
}

/* 2. The scrollbar "track" (background) */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Track background color */
  border-radius: 10px;
}

/* 3. The scrollbar "thumb" - the part you drag */
::-webkit-scrollbar-thumb {
  background: #747474;
  /* Subtle light blue/purple color (Tailwind indigo-200) */
  border-radius: 10px;
}

/* 4. Thumb color on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8f8f8f;
  /* Primary color (Tailwind indigo-500) */
}

/* 5. Style for Firefox (recent versions) */
html {
  scrollbar-width: thin;
  /* Defines scrollbar width: auto | thin | none */
  scrollbar-color: #a7a7a7 #f1f1f1;
  /* thumb_color track_color */
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  background: transparent !important;
  color: #56B6C2 !important;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite
}

.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #000000;
  animation: prixClipFix 2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg)
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
  }

  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
  }

  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
  }

  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%)
  }

  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0)
  }
}